@namespace Coursework2.Views
<header class="bg-gray-50 flex justify-between items-center h-[10svh] px-10">
    <h1 class="text-2xl">IHFMS</h1>
    
    <nav class="flex gap-4 items-center text-xl">
        <a href="/home">Home</a>
        <a href="/staff">Staff</a>
        <a href="/pharmarcy">Pharmacy</a>
    </nav>
</header>