@page "/staff"

<PageTitle>StaffView</PageTitle>

<h1>StaffView</h1>

@* <p role="status">Current count: @currentCount</p> *@

<p class="text-center text-5xl">Staff list</p>

<ul>
    @foreach (var staff in allStaff)
    {
        <li>@staff.Name</li>
    }
</ul>
