@page "/staff/register"

<PageTitle>Staff Registration</PageTitle>


@* <p role="status">Current count: @currentCount</p> *@

<p class="text-center text-2xl font-semibold">Register staff member</p>



<ul>
   
</ul>
